.offline-pre-settings th:first-child {
	vertical-align: top;
	padding-top: 15px;
}
.offline-pre-settings .switch {
	margin: 0 10px;
}
.offline-pre-settings .switch input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
.offline-pre-settings .switch input[type=checkbox]:checked + label {
	background: green;
}
.offline-pre-settings .switch input[type=checkbox]:checked + label::after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}
.offline-pre-settings .switch label {
	cursor: pointer;
	width: 48px;
	height: 24px;
	background: grey;
	display: block;
	border-radius: 24px;
	position: relative;
}
.offline-pre-settings .switch label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 16px;
	transition: 0.3s;
}
.offline-pre-settings input, .offline-pre-settings select, .offline-pre-settings textarea{
	display: block;
}
.offline-pre-settings input[type=text] {
	width: 75%;
}
.cache-strategies-table input[type=text] {
	width: 100%;
}
.cache-strategies-table{
	background: #efefef;
	width: 100%;
}
.cache-strategies-table thead th {
	padding-top: 15px !important;
	vertical-align: middle;
}
.offline-pre-settings span.offline-pre-note{
	/*float: left;
	padding-left: 23px;*/
	font-size: 75%;
}
.offline-pre-masthead {
	background-color:#fff;
	text-align:center;
	box-shadow:0 1px 0 rgba(200,215,225,0.5),0 1px 2px #e9eff3
}
@media (max-width: 45rem) {
	.offline-pre-masthead {
		padding:0 1.25rem
	}
}

.offline-pre-masthead__inside-container {
	padding:.375rem 0;
	margin:0 auto;
	width:100%;
	max-width:45rem;
	text-align: left;
}
.offline-pre-masthead__logo-container {
	padding:.3125rem 0 0
}
.offline-pre-masthead__logo {
	width:10.375rem;
	height:1.8125rem;
}
.offline-pre-masthead__logo-link {
	display:inline-block;
	outline:none;
	vertical-align:middle
}
.offline-pre-masthead__logo-link:focus {
	line-height:0;
	box-shadow:0 0 0 2px #78dcfa
}
.offline-pre-masthead__logo-link+code {
	margin:0 10px;
	padding:5px 9px;
	border-radius:2px;
	background:#e6ecf1;
	color:#647a88
}
.offline-pre-masthead__links {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	-ms-flex:2 50%;
	flex:2 50%;
	-ms-flex-pack:end;
	justify-content:flex-end;
	margin:0
}
@media (max-width: 480px) {
	.offline-pre-masthead__links {
		padding-right:.625rem
	}
}
.offline-pre-masthead__link-li {
	margin:0;
	padding:0
}
.offline-pre-masthead__link {
	font-style:normal;
	color:#0087be;
	padding:.625rem;
	display:inline-block
}
.offline-pre-masthead__link:visited {
	color:#0087be
}
.offline-pre-masthead__link:active,.offline-pre-masthead__link:hover {
	color:#00aadc
}
.offline-pre-masthead__link:hover {
	text-decoration:underline
}
.offline-pre-masthead__link .dashicons {
	display:none
}
@media (max-width: 480px) {
	.offline-pre-masthead__link:hover,.offline-pre-masthead__link:active {
		text-decoration:none
	}
	.offline-pre-masthead__link .dashicons {
		display:block;
		font-size:1.75rem
	}
	.offline-pre-masthead__link span+span {
		display:none
	}
}
.offline-pre-masthead__link-li:last-of-type .offline-pre-masthead__link {
	padding-right:0
}

.offline-pre-lower {
	margin: 0 auto;
	text-align: left;
	max-width: 45rem;
	padding: 1.5rem;
}

.offline-pre-lower .notice {
	margin-bottom: 2rem;
}

.offline-pre-card {
	margin-top: 1rem;
	margin-bottom: 0;
	position: relative;
	margin: 0 auto 0.625rem auto;
	box-sizing: border-box;
	background: white;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}

.offline-pre-card:after, .offline-pre-card .inside:after, .offline-pre-masthead__logo-container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.offline-pre-card .inside {
	padding: 1.5rem;
	padding-top: 1rem;
}

.offline-pre-card .offline-pre-card-actions {
	margin-top: 1rem;
}
.offline-pre-masthead .offline-pre-right {
	line-height: 2.125rem;
	font-size: 0.9rem;
}

.offline-pre-box {
	box-sizing: border-box;
	background: white;
	border: 1px solid rgba(200, 215, 225, 0.5);
}

.offline-pre-box h2, .offline-pre-box h3 {
	padding: 1.5rem 1.5rem .5rem 1.5rem;
	margin: 0;
}

.offline-pre-box p {
	padding: 0 1.5rem 1.5rem 1.5rem;
	margin: 0;
}
.offline-pre-box p:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.offline-pre-box .offline-pre-right {
	padding-right: 1.5rem;
}

.offline-pre-boxes .offline-pre-box {
	margin-bottom: 0;
	padding: 0;
	margin-top: -1px;
}

.offline-pre-boxes .offline-pre-box:last-child {
	margin-bottom: 1.5rem;
}

.offline-pre-boxes .offline-pre-box:first-child {
	margin-top: 1.5rem;
}

.offline-pre-box-header {
	max-width: 700px;
	margin: 0 auto 40px auto;
	line-height: 1.5;
}

.offline-pre-box-header h2 {
	margin: 1.5rem 10% 0;
	font-size: 1.375rem;
	font-weight: 700;
	color: #000;
}

.offline-pre-box .centered {
	text-align: center;
}

.offline-pre-enter-api-key-box {
	margin: 1.5rem 0;
}

.offline-pre-box .enter-api-key {
	display: none;
	margin-top: 1.5rem;
}

.offline-pre-box .offline-pre-toggles {
	margin: 3rem 0;
}

.offline-pre-box .offline-pre-ak-connect, .offline-pre-box .toggle-jp-connect {
	display: none;
}

.offline-pre-box .enter-api-key p {
	padding: 0 1.5rem;
}

.offline-pre-button, .offline-pre-button:hover, .offline-pre-button:visited {
	background: white;
	border-color: #c8d7e1;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #2e4453;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;
	padding: 7px 14px 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.offline-pre-button:hover {
	border-color: #a8bece;
}

.offline-pre-button:active {
	border-width: 2px 1px 1px;
}

.offline-pre-is-primary, .offline-pre-is-primary:hover, .offline-pre-is-primary:visited {
	background: #00aadc;
	border-color: #0087be;
	color: white;
}

.offline-pre-is-primary:hover, .offline-pre-is-primary:focus {
    border-color: #005082;
}

.offline-pre-is-primary:hover {
	border-color: #005082;
}

.offline-pre-section-header {
	position: relative;
	margin: 0 auto 0.625rem auto;
	padding: 1rem;
	box-sizing: border-box;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
	background: #ffffff;
	width: 100%;
	padding-top: 0.6875rem;
	padding-bottom: 0.6875rem;
	display: flex;
}

.offline-pre-section-header__label {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-positive: 1;
	flex-grow: 1;
	line-height: 1.75rem;
	position: relative;
	font-size: 0.875rem;
	color: #4f748e;
}

.offline-pre-section-header__actions {
	line-height: 1.75rem;
}